{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-sm-6 col-12">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input class="form-control" name="name" type="text" placeholder="Name" >
                        <input class="form-control" name="email" type="email" placeholder="email" >
                        <textarea class="form-control" name="content" placeholder="Your content"></textarea>
                        <button class="btn btn-outline-success" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

